@import'./theme.less';
@import'./reset.less';

#root{
    height: 100%;
}
// 顶部样式
.App-header{
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 99;
    background-color: rgba(255,255,255,0.7);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    padding: 1rem;
}

.header-box{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.head-left{
    display:flex;
}
.navbar-nav{
    display: flex
}
.navbar-brand {
    display: inline-block;
    padding: 0;
    margin-right: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5;
    white-space: nowrap;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav-link {
    padding: 0.5rem;
}
.nav-item{
    line-height: 2rem;
}
.nav-icon{
    margin: 0 .25rem;
    text-align: center;
    display: inline-block;
    height: 2.5rem;
    width: 2.5rem;
    line-height: 2.5rem;
    border-radius: 100%;
    font-size: .75rem;
    background: #f0f0f0;
    color: #333;
    vertical-align: middle;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
}
.nav-icon i {
    font-size: .9rem;
    line-height: 2.5rem;
}
// 顶部样式

#masthead {
    min-height: 12.5rem;
    display: table;
    text-align: center;
    overflow: hidden;
    color: #fff;
    background-color: #1e1e1f;
    width: 100%;
    height: 537px;
    position: relative;
}
.blog-background{
    background: url("https://cdn.get233.com/hran/2019/04/14/155523580443084_cf6143085f0a07c75e2b45f5f232bcfc-2.jpeg?imageView2/2/w/1845/q/75/format/webp");
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    opacity: 1;
}
@media (min-width: 768px){
    #masthead .inner {
        padding-top: 3.75rem;
}
}
.inner {
    background-color: rgba(0,0,0,0.25);
    display: table-cell;
    vertical-align: top;
    position: relative;
    z-index: 10;
    width: 100%;
    left: -1px;
    vertical-align: middle;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 710px;
}
.blog-title {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: .75rem;
    font-weight: 700;
}
.blog-description {
    font-size: .9375rem;
    font-weight: 400;
}
